<h3>SmartBulb in disco mode</h3>
<%= link_to "ON", :controller => "smartbulb", :action => "on" %><br/>
<%= link_to "OFF", :controller => "smartbulb", :action => "off" %><br/>
<%= link_to "WHITE", :controller => "smartbulb", :action => "white" %>