<h3>SmartBulb turned on</h3>
<%= link_to "OFF", :controller => "smartbulb", :action => "off" %><br/>
<%= link_to "DISCO", :controller => "smartbulb", :action => "disco" %><br/>
<%= link_to "WHITE", :controller => "smartbulb", :action => "white" %>