<h3>SmartBulb now white</h3>
<%= link_to "ON", :controller => "smartbulb", :action => "on" %><br/>
<%= link_to "OFF", :controller => "smartbulb", :action => "off" %><br/>
<%= link_to "DISCO", :controller => "smartbulb", :action => "disco" %>